{% extends "index.html" %}

{% block content %}

<div class="container">

  <form action="/jadwal/add/" method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nama Kegiatan</label>
      <div class="col-sm-10">
        <input name="nama_kegiatan" type="text" class="form-control" >
      </div>
    </div>

    <div class="row form-group">
      <label class="col-sm-2 col-form-label">Waktu</label>
      <div class="col-sm-10">
        <div class='date' id='datetimepicker1'>
          <input name="waktu" type='datetime-local' class="form-control" required />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Kategori</label>
      <div class="col-sm-10">
        <input name="kategori" type="text" class="form-control" >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tempat</label>
      <div class="col-sm-10">
        <input name="tempat" type="text" class="form-control" >
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>

</div><!-- /.container -->
{% endblock %}