{% extends "index.html" %}

{% block content %}
<div class="container">

  <div class="starter-template">
    <h1><b>Page of Mine</b></h1>
    <p class="lead">My journey in web programming <br> </p>
    <h5>is started.</h5>
  </div>

  <div class="card border-dark mb-3" style="max-width: 100%;">
    <div class="card-header h4"><span class="badge badge-info">New</span>   View It!</div>
    <div class="card-body">
      <h5 class="card-title">Schedule Viewer</h5>
      <p class="card-text">Schedule viewer is available now. Enjoy the view!</p>
      <br><br>
      <div class="text-right">
        <div>
          <a href="jadwal" class="btn btn-primary text-right">Take a look</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-dark mb-3" style="max-width: 100%;">
    <div class="card-header h4"><span class="badge badge-info">New</span>   Schedule It!</div>
    <div class="card-body">
      <h5 class="card-title">Schedule Adder</h5>
      <p class="card-text">Add your schedule to scheduler now.</p>
      <br><br>
      <div class="text-right">
        <div>
          <a href="/jadwal/add" class="btn btn-primary text-right">Add Some</a>
        </div>
      </div>
    </div>
  </div>

</div><!-- /.container -->
{% endblock %}