{% extends "index.html" %}

{% block content %}
<div class="container">

  <div class="starter-template">
    <h2>View Schedules</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Kegiatan</th>
        <th scope="col">Waktu</th>
        <th scope="col">Tempat</th>
        <th scope="col">Kategori</th>
        <th scope="col">Ditambahkan</th>
      </tr>
    </thead>

    <tbody>

      {% if list_jadwal %}
        {% for data in list_jadwal %}
          <tr>
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.nama_kegiatan }}</td>
            <td>{{ data.waktu }}</td>
            <td>{{ data.tempat }}</td>
            <td>{{ data.kategori }}</td>
            <td>{{ data.date_added }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <th scope="row" colspan="6" style="text-align: center; font-weight: normal; font-style: italic;">No data</th>
        </tr>
      {% endif %}

    </tbody>
  </table>

</div>

<div class="container text-right">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
    Delete All
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        Are you sure to delete all data?
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/jadwal/edit/" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-primary"" value="exec" name="clear" >DELETE</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}